{% extends 'base.html' %}

{% block content %}
	{% for post in posts %}
		<a href="{% url 'post' post.id %}">
			<h3>{{ post.title }}</h3>
			<h4>{% if post.pin %}pinned, {% endif %}{{ post.date }}</h4>
		</a>
	{% endfor %}
{% endblock %}
