{% extends 'base.html' %}

{% block content %}
	{% for post in posts %}
		<h3>{{ post.title }}</h3>
		<h4>{% if post.pin %}pinned, {% endif %}{{ post.date }}</h4>
		<br>
		<article>
			{{ post.content | safe | linebreaks }}
		</article>
	{% endfor %}
{% endblock %}
